---
import Layout from "../layouts/Layout.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import Message from "../components/Message.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Manuela Ozán - Desarrolladora y Programadora Web."
  description="Desarrolladora Web Full Stack"
>
  <main class="px-12 py-6 bg-white" >
    <div>
      
      <Contact />
      <Projects id="projects" />
      <Message id="message" />
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f3f4f5" fill-opacity="1" d="M0,0L60,16C120,32,240,64,360,69.3C480,75,600,53,720,48C840,43,960,53,1080,96C1200,139,1320,213,1380,250.7L1440,288L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
      <Footer />
    </div>
  </main>
</Layout>
