---
import Layout from "../layouts/Layout.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import Message from "../components/Message.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Manuela Ozán - Desarrolladora y Programadora Web."
  description="Desarrolladora Web Full Stack"
>
  <main class="px-12 py-6 bg-white" >
    <div>
      
      <Contact />
      <Projects id="projects" />
      <Message id="message" />
      <Footer />
    </div>
  </main>
</Layout>
