<section class="text-gray-600 body-font w-[800px] mx-auto text-center">
  <div
    class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center"
  >
    <div style="width: 300px; height: 300px">
      <img
        class="object-cover object-center rounded-full"
        alt="me"
        src="/me.jpeg"
        style="width: 100%; height: 100%;"
      />
    </div>
    <div
      class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center"
    >
      <h1
        class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"
      >
        Me llamo manuela,
        <br class="hidden lg:inline-block" />nací en Buenos Aires
      </h1>
      <p class="mb-8 leading-relaxed text-wrap">
        Tengo 27 años y siempre sentí que este iba a ser mi camino:
        Soy desarrolladora Full Stack.
        Tengo un enfoque centrado en la excelencia técnica y la entrega de soluciones innovadoras. 🤓
        Mi experiencia abarca varios tipos de tecnologías y herramientas, lo que me permite adaptarme con facilidad a diversos proyectos y desafíos.
        Frontend: React, Angular, React Native, Next.js, Astro.
        Backend: Node.js, .NET, Nest.js, Express.js.
        Bases de Datos: PostgreSQL, MongoDB, PL/SQL, SQL.
        JavaScript, TypeScript, HTML.
        Diseño y Estilización: Tailwind CSS, CSS, Figma.
      </p>
      <div class="flex justify-center"></div>
    </div>
  </div>
</section>
