<section class="text-gray-600 body-font bg-[#ffffff]">
  <div class="container px-5 py-6 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-3xl text-2xl title-font mb-4 text-gray-900 font-bold">skills & proyectos.</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base font-semibold">Aqui encontrarás una selección de mis creaciones como Full Stack Developer. Desde desafíos de código, proyectos propios, hasta soluciones empresariales. Cada proyecto cuenta una historia única, y mucha, mucha, dedicación.</p>
      <div class="flex mb-4">
        
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="delivery.png">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-white bg-white opacity-0 hover:opacity-100 cursor-pointer">
            <span class="bg-pink-100 text-pink-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-pink-400 border rounded-full border-pink-400">VERY DELI</span>
            <p class="leading-relaxed text-semibold font-semibold">Next y React Native. MongoDB para almacenar datos. Tailwind y Figma, proporciona una experiencia unica y funcional.</p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="ordinary.jpg">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-white bg-white opacity-0 hover:opacity-100 cursor-pointer">
            <span class="bg-pink-100 text-pink-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-pink-400 border rounded-full border-pink-400">BEAUTY SKIN</span>
            <p class="leading-relaxed font-semibold">React para la interfaz de usuario, Tailwind para el diseño, Figma para el diseño, y SQL para gestionar la información de productos y clientes.</p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="payment.png">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-white bg-white opacity-0 hover:opacity-100 cursor-pointer">
            <span class="bg-pink-100 text-pink-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-pink-400 border rounded-full border-pink-400">DASHBOARD</span>
            <p class="leading-relaxed font-semibold">Desarrollada con Next, integra datos en tiempo real a través de APIs, proporciona información actualizada. Rendimiento confiable.</p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="store.png">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-white bg-white opacity-0 hover:opacity-100 cursor-pointer">
            <span class="bg-pink-100 text-pink-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-pink-400 border rounded-full border-pink-400">TECH TROVE</span>
            <p class="leading-relaxed font-semibold">React para una experiencia dinámica, Node en el backend para una escalabilidad robusta. PostgreSQL para almacenar datos de manera eficiente. Diseño moderno y atractivo creado con Tailwind.</p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="tech.jpg">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-white bg-white opacity-0 hover:opacity-100 cursor-pointer">
            <span class="bg-pink-100 text-pink-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-pink-400 border rounded-full border-pink-400">ECOMMERCE</span>
            <p class="leading-relaxed  font-semibold">React y Next en el frontend. Integración de pasarela de pago. Node en el backend y PostgreSQL. Fácil de usar para explorar y realizar compras en línea con total confianza.</p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="pay.png">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-white bg-white opacity-0 hover:opacity-100 cursor-pointer">
            <span class="bg-pink-100 text-pink-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-pink-400 border rounded-full border-pink-400">EXPENSE MASTER</span>
            <p class="leading-relaxed font-semibold">Angular, y Nest en el backend. Interfaz intuitiva para el seguimiento y la gestión de gastos. Gráficos interactivos y categorias personalizadas. Integracion de APIs externas.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>