---
import React from "./icons/React.astro";
import Mongo from "./icons/Mongo.astro";
import Tailwind from "./icons/Tailwind.astro";
import Figma from "./icons/Figma.astro";
import Sql from "./icons/Sql.astro";
import Css from "./icons/Css.astro";
import Next from "./icons/Next.astro";
import Graph from "./icons/Graph.astro";
import Postgres from "./icons/Postgres.astro";
import Node from "./icons/Node.astro";
import Angular from "./icons/Angular.astro";
import Nest from "./icons/Nest.astro";
import Mp from "./icons/Mp.astro";


---

<section class="text-gray-600 bg-white">
  <div class="container px-5 py-16 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-3xl text-2xl title-font mb-4 text-gray-900 font-bold">
        skills & proyectos.
      </h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base font-semibold">
        Aqui encontrarás una selección de mis creaciones como Full Stack
        Developer. Desde desafíos de código, proyectos propios, hasta soluciones
        empresariales. Cada proyecto cuenta una historia única, y mucha, mucha,
        dedicación.
      </p>
      <div class="flex flex-wrap -m-4 pt-10">
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img
              alt="gallery"
              class="absolute inset-0 w-full h-full object-cover object-center p-2 rounded-xl"
              src="delivery.png"
            />
            <div
              class=" px-8 py-10 pb-18 relative z-10 w-full bg-slote-100 opacity-0 hover:opacity-100 hover:rounded-xl backdrop-filter backdrop-blur transition duration-200 ease-in-out transform cursor-pointer"
            >
              <span
                class="inline-block whitespace-nowrap rounded-full bg-neutral-50 px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-zinc-600 dark:bg-surface dark:text-neutral-100"
                >VERY DELI</span
              >
              <p class="flex items-center py-8 pl-16 ml-14 leading-relaxed text-semibold font-bold text-black">
                <React />
                <Mongo />
                <Css />
                <Figma />

              </p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img
              alt="gallery"
              class="p-2 absolute inset-0 w-full h-full object-cover object-center"
              src="ordinary.jpg"
            />
            <div
              class="px-8 py-10 pb-18 relative z-10 w-full bg-slote-100 opacity-0 hover:opacity-100 hover:rounded-xl backdrop-filter backdrop-blur transition duration-200 ease-in-out transform cursor-pointer"
            >
              <span
                class="inline-block whitespace-nowrap rounded-full bg-neutral-50 px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-zinc-600 dark:bg-surface dark:text-neutral-100"
                >BEAUTY SKIN</span
              >
              <p class="leading-relaxed flex items-center py-8 pl-16 ml-14 font-bold text-black">
                <Tailwind />
                <React />
                <Figma />
                <Sql />
              </p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img
              alt="gallery"
              class="p-2 absolute inset-0 w-full h-full object-cover object-center"
              src="payment.png"
            />
            <div
              class="px-8 py-10 pb-18 relative z-10 w-full bg-slote-100 opacity-0 hover:opacity-100 hover:text-white hover:rounded-xl backdrop-filter backdrop-blur transition duration-200 ease-in-out transform cursor-pointer"
            >
              <span
                class="inline-block whitespace-nowrap rounded-full bg-neutral-50 px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-zinc-600 dark:bg-surface dark:text-neutral-100"
                >DASHBOARD</span
              >
              <p class="leading-relaxed font-bold text-white flex items-center py-8 pl-16 ml-14 hover:text-white">
                <Next />
                <Graph />
                <Postgres />
                <Figma />

              </p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img
              alt="gallery"
              class="p-2 absolute inset-0 w-full h-full object-cover object-center"
              src="store.png"
            />
            <div
              class="px-8 py-10 pb-18 relative z-10 w-full bg-slote-100 opacity-0 hover:opacity-100 hover:rounded-xl backdrop-filter backdrop-blur transition duration-200 ease-in-out transform cursor-pointer"
            >
              <span
                class="inline-block whitespace-nowrap rounded-full bg-neutral-50 px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-zinc-600 dark:bg-surface dark:text-neutral-100"
                >TECH TROVE</span
              >
              <p class="leading-relaxed font-bold text-black flex items-center py-8 pl-16 ml-14">
                <React />
                <Node />
                <Postgres />
                <Figma />

              </p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img
              alt="gallery"
              class="p-3 absolute inset-0 w-full h-full object-cover object-center"
              src="tech.jpg"
            />
            <div
              class="px-8 py-10 pb-18 relative z-10 w-full bg-slote-100 opacity-0 hover:opacity-100 hover:rounded-xl backdrop-filter backdrop-blur transition duration-200 ease-in-out transform cursor-pointer"
            >
              <span
                class="inline-block whitespace-nowrap rounded-full bg-neutral-50 px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-zinc-600 dark:bg-surface dark:text-neutral-100"
                >ECOMMERCE</span
              >
              <p class="leading-relaxed font-bold text-black flex items-center py-8 pl-16 ml-14">
                <Next />
                <Figma />
                <Mp />
                <Mongo />
              </p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img
              alt="gallery"
              class="p-2 absolute inset-0 w-full h-full object-cover object-center"
              src="pay.png"
            />
            <div
              class="px-8 py-10 pb-18 relative z-10 w-full bg-slote-100 opacity-0 hover:opacity-100 hover:rounded-xl backdrop-filter backdrop-blur transition duration-200 ease-in-out transform cursor-pointer"
            >
              <span
                class="inline-block whitespace-nowrap rounded-full bg-neutral-50 px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-zinc-600 dark:bg-surface dark:text-neutral-100"
                >EXPENSE MASTER</span
              >
              <p class="leading-relaxed font-bold text-black flex items-center py-8 pl-16 ml-14">
                <Angular />
                <Nest />
                <Postgres />
                <Figma />

              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
