<section class="text-gray-400 bg-[#f8f9fa] body-font overflow-hidden">
  <div class="container px-4 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap items-center"> 
      <img class="lg:w-1/2 w-full" src="/profile.svg"/> 
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h1 class="text-gray-900 text-5xl title-font font-medium mb-1 mt-6">Soy Manu, y soy
          <p class="text-black font-bold">Full Stack Developer<span class="text-[#ffcbf2] font-bold text-5xl">.</span></h1>
        <div class="flex mb-4">
          <span class="flex ml-3 pl-3 py-4 text-gray-600 space-x-2">
          </span>
        </div>
         <p class="leading-relaxed text-pretty text-1xl semibold text-gray-600">Me llamo Manuela, nací en Buenos Aires, Argentina.
          Si buscas darle vida a tus proyectos con un toque de creatividad y profesionalismo, 
          me encargo de cada detalle para asegurarme de que todo sea único y memorable. 
          ¿Estás listo para llevar tu presencia web al siguiente nivel? 🚀 </p>
        <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-800 mb-5">
          <div class="flex ml-6 items-center">
            <div class="relative">
              <span class="absolute right-0 top-0 h-full w-10 text-center text-gray-600 pointer-events-none flex items-center justify-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4" viewBox="0 0 24 24">
                </svg>
              </span>
            </div>
          </div>
        </div>
         <div class="items-center justify-center">

          <div class="flex gap-4">
            <button
          class="group hover:bg-black/80 relative bg-black rounded text-white duration-500 font-semibold flex justify-start gap-2 items-center p-2 pr-2">
  <a href="https://www.linkedin.com/in/manuelaozan/" target="_blank" rel="noopener noreferrer" class="flex items-center gap-2">
          <svg
    class="w-4 h-4 fill-white"
    height="100"
    preserveAspectRatio="xMidYMid meet"
    viewBox="0 0 100 100"
    width="100"
    x="0"
    xmlns="http://www.w3.org/2000/svg"
    y="0"
  >
    <path
      d="M92.86,0H7.12A7.17,7.17,0,0,0,0,7.21V92.79A7.17,7.17,0,0,0,7.12,100H92.86A7.19,7.19,0,0,0,100,92.79V7.21A7.19,7.19,0,0,0,92.86,0ZM30.22,85.71H15.4V38H30.25V85.71ZM22.81,31.47a8.59,8.59,0,1,1,8.6-8.59A8.6,8.6,0,0,1,22.81,31.47Zm63,54.24H71V62.5c0-5.54-.11-12.66-7.7-12.66s-8.91,6-8.91,12.26V85.71H39.53V38H53.75v6.52H54c2-3.75,6.83-7.7,14-7.7,15,0,17.79,9.89,17.79,22.74Z"
    ></path>
  </svg>
  <span class="border-l-2 px-1 text-white">Manuela Ozán</span>
</a>
</button>
<div class="w-8"></div>
<div class="w-8"></div>

<a href="https://drive.google.com/file/d/1Nwfv56CXOvQfhBHIm0Ut5tYythTGbHzM/view?usp=drive_link" download class="hover:bg-black/2 bg-transparent border rounded border-black text-black duration-500 font-semibold flex justify-start gap-2 items-center p-2 pr-2">
  </svg>
  <span class="text-black">Descargar Currículum</span>
</a>
        </div>
      </div>
    </div>
  </div>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,96L120,90.7C240,85,480,75,720,69.3C960,64,1200,64,1320,64L1440,64L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
</section>

