<header class="w-full mx-auto lg:w-[740px] pb-24 justify-center">
  <div
    class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row justify-center items-center"
  >
    <a
      class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
    >
    </a>
    <nav
      class="md:border-b md:border-gray-100 w-full border-b md:mr-auto gap-x-5 md:ml-4 md:py-1 md:pl-4  flex flex-wrap items-center text-base justify-center"
    >
      <a href="#top" class="hover:scale-100 bg-black/8 transition px-6 py-2 font-semibold">Inicio</a>
      <a href="#experience" class="hover:scale-100 bg-black/8 transition"
        >Experiencia</a
      >
      <a href="#about" class="hover:scale-100 bg-black/8 transition">Sobre mí</a
      >
      <a href="#projects" class="hover:scale-100 bg-black/8 transition"
        >Proyectos</a
      >
      <a href="#contact" class="hover:scale-100 bg-black/8 transition"
        >Contacto</a
      >
    </nav>
  </div>
</header>
