<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="p-4 md:w-1/3">
        <div
          class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden"
        >
          <img
            class="lg:h-48 md:h-36 w-full object-cover object-center"
            src="/dash.png"
            alt="blog"
          />
          <div class="p-6">
            <span
              class="inline-block mb-2 py-1 px-2 rounded bg-pink-50 text-pink-500 text-xs font-medium tracking-widest"
              >REACT</span
            >
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
              Dashboard
            </h1>
            <p class="leading-relaxed mb-3">
              App interactiva, visualiza datos y métricas de manera dinámica,
              pensada para una experiencia de usuario intuitiva y
              personalizable.
            </p>
            <div class="flex items-center flex-wrap">
              <a
                href="https://dash-bo-ard-react-v1.vercel.app/"
                class="text-black inline-flex underline items-center md:mb-2 lg:mb-0"
                >Ver
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="p-4 md:w-1/3">
        <div
          class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden"
        >
          <img
            class="lg:h-48 md:h-36 w-full object-cover object-center"
            src="/store.png"
            alt="blog"
          />
          <div class="p-6">
            <span
              class="inline-block py-1 mb-2 px-2 rounded bg-pink-50 text-pink-500 text-xs font-medium tracking-widest"
              >EN DESARROLLO</span
            >
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
              TechStore
            </h1>
            <p class="leading-relaxed mb-3">
              Con una estética moderna y funcionalidades avanzadas, esta
              plataforma ofrece una experiencia de navegación fluida y
              atractiva.
            </p>
            <div class="flex items-center flex-wrap"></div>
          </div>
        </div>
      </div>
      <div class="p-4 md:w-1/3">
        <div
          class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden"
        >
          <img
            class="lg:h-48 md:h-36 w-full object-cover object-center"
            src="/expense.png"
            alt="blog"
          />
          <div class="p-6">
            <span
              class="inline-block py-1 px-2 mb-2 rounded bg-pink-50 text-pink-500 text-xs font-medium tracking-widest"
              >EN DESARROLLO</span
            >
            <h1 class="title-font text-lg font-medium text-gray-900 mb-2">
              Expense Tracker
            </h1>
            <p class="leading-relaxed">
              Basado en la arquitectura de React para ofrecer una interfaz
              dinámica y receptiva. Integrando funcionalidades de seguimiento de
              gastos y gestión de transacciones.
            </p>
            <div class="flex items-center flex-wrap">
              <a
                class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0"
              >
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
