---
import Wordpress from "../components/icons/Wordpress.astro";
import React from "../components/icons/React.astro";
---

<div
  class="mb-4 mx-full w-auto p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mr-4"
>
  <Wordpress class="size-7" />
  <a href="#">
    <h5
      class="py-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white"
    >
      E-commerce con Wordpress
    </h5>
  </a>
  <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">
    Plataforma de comercio electrónico, utiliza WordPress como sistema de
    gestión de contenido para administrar productos, pedidos, clientes y otras
    funciones relacionadas con la venta en línea.
  </p>
  <a
    href="#"
    class="inline-flex font-medium items-center text-pink-600 hover:underline"
  >
    Ver más
    <svg
      class="w-3 h-3 ms-2.5 rtl:rotate-[270deg]"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 18 18"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"
      ></path>
    </svg>
  </a>
</div>

<div
  class="max-full p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mr-4"
>
  <React />
  <a href="#">
    <h5
      class="py-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white"
    >
      Dashboard con React
    </h5>
  </a>
  <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">
    Muestra datos y estadísticas relevantes de manera visual, organizada y en
    tiempo real para facilitar la toma de decisiones y el monitoreo de métricas
    clave.
  </p>
  <a
    href="#"
    class="inline-flex font-medium items-center text-pink-600 hover:underline"
  >
    Ver más
    <svg
      class="w-3 h-3 ms-2.5 rtl:rotate-[270deg]"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 18 18"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"
      ></path>
    </svg>
  </a>
</div>
