<section class="text-gray-600 body-font mb-22 w-[1200px] ml-24">
  <div class="w-[1200px]">
    <div class="lg:w-3/4 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 lg:py-6">
        <h1
          class="text-black text-3xl title-font font-medium font-semibold mb-4 ml-12"
        >
          Coffee Shop - React Native
        </h1>
        <span
          class="inline-block mb-2 ml-12 py-1 px-2 rounded bg-pink-50 text-pink-500 text-xs font-medium tracking-widest"
          >EN DESARROLLO</span
        >
        <div class="flex mb-4"></div>
        <p class="mb-4 text-pretty ml-12">
          Experiencia de usuario intuitiva, fácil de navegar y agradable de usar
          para todos. Compatibilidad multiplataforma, es compatible tanto con
          dispositivos iOS como Android. Directamente integrada con la tienda
          física.
        </p>
        <div class="flex border-t border-gray-200 py-2">
          <span class="text-black ml-12">Exploración de Menú Intuitiva</span>
        </div>
        <div class="flex border-t border-gray-200 py-2">
          <span class="text-black ml-12">Personalización de Órdenes</span>
        </div>
        <div class="flex border-t border-gray-200 py-2">
          <span class="text-black ml-12">Rastreo de Órdenes en Tiempo Real</span
          >
        </div>
        <div class="flex border-t border-b border-gray-200 py-2">
          <span class="text-black ml-12">Proceso de Pago Seguro</span>
        </div>
      </div>
      <img
        alt="coffe-shop"
        class="lg:h-auto h-64 object-cover object-center rounded ml-24"
        src="/native.png"
        style="max-width: 600px; max-height: 455px;"
      />
    </div>
  </div>
</section>
